/* Reset básico */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #ffffff;
}

/* Estilos para as telas */
.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

/* Estilos gerais */
h1, h2 {
    margin-bottom: 20px;
}

.menu {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #21a1f1;
}

/* Estilos do WebGL */
.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#upload-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10; /* Certifique-se de que este valor seja maior do que o z-index do canvas */
}

canvas {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#code-editor {
    position: absolute;
    text-align: left; 
    bottom: 10px; /* Ajuste a posição do topo para o inferior */
    left: 10px;   /* Ajuste a posição da direita para a esquerda */
    width: 700px;  /* Ajuste o tamanho conforme necessário */
    height: 350px; /* Ajuste o tamanho conforme necessário */
    z-index: 10;   /* Garante que ele esteja acima do ambiente 3D, se necessário */
    background-color: rgba(0, 0, 0, 0.8);  /* Adiciona uma cor de fundo transparente */
    border: 1px solid #fff;  /* Adiciona uma borda para destaque */
}

#generateCodeBtn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
} 

#buttonContainer {
    position: absolute;
    top: 20px;     /* Posiciona os botões a partir do topo */
    left: 20px;    /* Posiciona os botões a partir da esquerda */
    display: flex; /* Usa flexbox para alinhar os botões lado a lado */
    gap: 10px;     /* Espaçamento entre os botões */
    z-index: 10;   /* Garante que os botões fiquem acima do canvas */
}

#back-to-menu-3d, #toggleEditorBtn {
    padding: 10px 15px;
    background-color: #ff5722; /* Mesma cor de fundo */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-menu-3d:hover, #toggleEditorBtn:hover {
    background-color: #e64a19; /* Cor de hover */
}
