/* Estilos gerais */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1d1f27;
    color: #fff;
    display: flex;
    flex-direction: column; /* Para telas muito pequenas */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div {
    width: fit-content; /* Faz o tamanho da largura se ajustar ao conteúdo */
    padding: 0; /* Remove espaçamento extra */
    margin: 0; /* Remove margens extras */
}

.container {
    display: flex;
    flex-direction: row; /* Layout horizontal padrão */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 20%; /* Adapta-se a diferentes resoluções */
    height: 100vh;
    background-color: #252932;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar h1 {
    color: #41c5ff;
}

.sidebar button {
    background-color: #41c5ff;
    color: #fff;
    border: none;
    padding: 15px;
    width: 80%; /* Ajustável */
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #33a0d6;
}

/* Canvas */
/* Canvas e Imagem */
#image-container img,
#image-canvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#canvas-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-left: 1px solid #41c5ff;
    overflow: auto; /* Evita cortes em telas menores */
}

/* Botões Gerais */
button {
    background-color: #41c5ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #33a0d6;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Inputs */

input[type="number"], select {
    background-color: #333;
    color: #fff;
    border: 1px solid #41c5ff;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: border-color 0.3s ease;
}

input[type="number"]:hover, select:hover {
    border-color: #007acc;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

input[type="number"]:focus, select:focus {
    outline: none;
    border-color: #33a0d6;
}

/* Select e Range */
select {
    background-color: #333;
    color: #fff;
    border: 1px solid #41c5ff;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #41c5ff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #41c5ff;
    cursor: pointer;
}

/* Headings */
h3 {
    font-size: 18px;
    color: #41c5ff;
    margin-bottom: 10px;
    white-space: nowrap;
}

/* Controle dos Inputs */
#num-inputs {
    max-height: 150px;
    overflow-y: auto;
}

#num-inputs input {
    margin: 5px 5px;
}

/* Painel de Controle */
#controls {
    margin-right: 10%;
    background-color: #252932;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #41c5ff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.slider-label {
    white-space: nowrap; /* Impede quebra de linha */
    font-size: 18px; /* Se necessário, ajuste o tamanho da fonte */
}


#main-container {
    flex: 1; /* Ocupa o restante do espaço */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    /* overflow: auto; */
    box-sizing: border-box;
}

#help-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 30%;
    justify-content: flex-start;
}

#btn-cores {
    position: relative;
    margin-top: 20px;
    align-self: flex-start;
    /* Alinha o botão ao topo da div */
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

h2 {
    margin: 0;
}

.modal-content h2 {
    color: #00bcd4;
    margin-bottom: 15px;
}

.modal-content strong {
    color: #ff5722;
    display: block;
    margin-top: 10px;
}

.modal-content p {
    text-align: justify;
    line-height: 1.5;
    margin: 10px 0;
}

.close-btn {
    background-color: #ff4444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #cc0000;
}

/* Layout para Inputs e Botões */
.input-group {
    margin-bottom: 20px;
}

.input-group select,
.input-group label {
    display: block;
    margin-bottom: 10px;
}

.button-group {
    display: flex;
    gap: 10px;
}

.system {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1 1 calc(30% - 40px); /* Flexível, ocupando até 50% do espaço com espaçamento */
}

/* Coloca a telinha de cor ao lado dos sliders */
.color-display {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-box {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: #ffffff;
}

#colors {
    display: flex;
    gap: 10px;
    justify-content: space-around; /* Espaça os elementos uniformemente */
}


.slider-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

/* Div que ocupará o restante do espaço */
#color-system-container {
    flex-grow: 1; 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

#phong-container{
    flex-grow: 1; 
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.color-preview {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.slide-group {
    display: inline-block;
    margin-right: 20px;
}

.slide-group label {
    display: inline-block;
    margin-bottom: 5px;
}

.color-info {
    margin-top: 20px;
}

.color-info p {
    font-size: 16px;
    margin: 5px 0;
}

.help-colors {
    position: absolute;
    top: 10px;
    right: 20px;
}

/* phong */

/* Canvas para Renderização */
#phong-canvas {
    width: 50%;
    height: 100%;
}

/* Indicadores */
#indicators {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.indicator-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.indicator-label {
    color: #333;
}

.indicator-value {
    font-weight: bold;
    color: #555;
}

/* Diagrama do Modelo Phong */
#diagram-container {
    margin-top: 30px;
    padding: 15px;
    background-color: #f0f8ff;
    border: 1px solid #d0e6f8;
    border-radius: 8px;
}

.diagram-header {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
}

.diagram-formula {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #2980b9;
    margin-bottom: 10px;
}

.diagram-description {
    font-size: 14px;
    color: #555;
}

/* Responsividade */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    #main-container {
        flex-direction: column;
        padding: 10px;
    }

    #canvas-container {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .sidebar button {
        width: 90%;
    }

    #main-container {
        flex-direction: column;
        gap: 10px;
    }

    #canvas-container {
        width: 100%;
    }
}

@media (max-aspect-ratio: 4/3) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%; 
        height: auto;
    }

    #main-container {
        flex-direction: column;
        padding: 15px;
    }

    #canvas-container {
        width: 100%;
    }
}